body {
    background-color: #080808;
}

#content {
    width: 1350px;
    height: max-content;

    margin: auto;
    margin-top: 100px;
}

#health-points {
    width: 46%;
    float: left;
    padding-left: 4%;
}
#points {
    width: 46%;
    float: left;

    color: white;
    text-align: right;
    padding-right: 4%;
    font: bold 60px 'Verdana';
}

.health-point {
    float: left;
    /* width: 65px; */

    margin-left: 10px;
    margin-right: 10px;
}